<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605548952316-dn1bat6u66pidunkdi8n4b516q2l7b65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605548952316-dn1bat6u66pidunkdi8n4b516q2l7b65</string>
	<key>API_KEY</key>
	<string>AIzaSyCe-l83WvflN8PBj2sePdB4b46Tgew01uw</string>
	<key>GCM_SENDER_ID</key>
	<string>605548952316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>teachers-students-828d2</string>
	<key>STORAGE_BUCKET</key>
	<string>teachers-students-828d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605548952316:ios:ae81359ee9e9721ffe7579</string>
</dict>
</plist>